/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
    display: inline-block;
    color: #333;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Section Styles */
#news {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

#news article {
    text-align: justify;
    margin-bottom: 40px;
}

#news h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#news img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#news p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

#news a {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
}

#news a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}