/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    vertical-align: middle;
    margin-right: 10px;
}

header h1 {
    display: inline-block;
    color: #333;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    text-align: justify;
}

/* Section Styles */
#overview, #latest-news {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

#overview h2, #latest-news h2 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
}

#overview p {
    color: #666;
    line-height: 1.6;
    font-size: 24px;
}

#latest-news ul {
    list-style: none;
    padding: 0;
}

#latest-news li {
    margin-bottom: 20px;
}

#latest-news h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

#latest-news a,
#latest-news button {
    border: none;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
}

#latest-news a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .carousel img {
    width: 100%;
    height: 200px;
  }
  .dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #989898;
}
.hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}
.tombol{
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40%;
}
.visible {
    height: 100%;
    overflow: visible;
}

/* CSS untuk Pop-up */

/* Pop-up */
.popup {
    display: none; /* Tersembunyi secara default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang dengan transparansi */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Konten Pop-up */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.popup-content img{
    border-radius: 10px;
}
.popup-close{
    background-color: #4caf50;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
span .popup-close{
    background-color: #d83838;
}
